DATABASE_URL="postgresql://postgres:postgres@localhost:5432/clinic_emr?schema=public"
JWT_ACCESS_SECRET="JWT_ACCESS_SECRET=clinic_access_secret_2026_super_secure_key"
JWT_REFRESH_SECRET="JWT_REFRESH_SECRET=clinic_refresh_secret_2026_super_secure_key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN_DAYS="7"
FRONTEND_URL="http://localhost:3000"
PORT="4000"
NODE_ENV="development"

NEXT_PUBLIC_API_URL="http://localhost:4000/api/v1"
NEXT_PUBLIC_SOCKET_URL="http://localhost:4000"
